footer {
    background-color: var(--main-color);
}
.footer {
    width: 100%;
    height: max-content;
    background-color: var(--main-color);
    align-items: center;
    z-index: 1;
    padding: .25rem 0;
    text-align: center;
}
.footer h4{
    color: var(--color-white);
    padding: .9rem 1rem;
    display: inline-block;
}
.footer a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
    padding: .9rem 1rem;
}
.footer a:hover{
    color: var(--color-alt-4);
}