nav {
    width: 100%;
    height: max-content;
    background-color: var(--main-color);
    align-items: center;
    position: relative;
    z-index: 1;
    padding: .25rem 0;
}
nav a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.2rem;
    padding: .9rem 1rem;
}
nav a:hover{
    background-color: var(--color-white);
    color: var(--main-color);
}
aside {
    display:none;
}
.ri-side-bar-line {
    display: none;
}
@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }
    nav {
        height: .1rem;
    }
    
.ri-side-bar-line {
    display: block;
    color: var(--color-white);
    cursor: pointer;
    text-align: right;
    float: right;
    margin: 2%;
}
}