@keyframes slideright {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
.carousel {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 10px;
    border-radius: 10px;
}

.carousel-control.next {
    right: 10px;
    border-radius: 10px;
}
.presentation {
    /* background-color: var(--color-gray-10); */
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.presentation_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.welcome {
    text-align: center;
    flex-grow: 1;
    margin: 20px;
    background-color: var(--color-gray-10);
    border-radius: 10px;
}
.welcome h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    background-color: var(--color-alt-2-bright);
    box-shadow: var(--shadow);
    border-radius: 10px;
}
.welcome h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.demostration {
    text-align: center;
    background-color: var(--color-gray-10);
    border-radius: 10px;
    box-shadow: var(--shadow);
    flex-grow: 1;
}
.introduction_container {
    margin: 0;
    height: 100vh;
    width: 100%;	
}
.introduction {
    display: flex;
    height: 100%;
    flex-direction: row;
    text-align: center;
    background-color: var(--color-gray-10);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.img_introduction {
    flex: 1;
    margin: 20px;
    background-image: url(../imgs/fondo\ azul\ y\ rojo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.text_introduction {
    flex: 1;
    margin: 20px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    height: 90%;
}
.img_introduction, .text_introduction {
    width: calc(100% - 40px);
    border-radius: 10px;
}
.contacts {
    display: flex;
    height: 80vh;
    width: 80%;
    background-color: var(--color-gray-10);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 20px;
    margin: 2% 0%;
    text-align: center;
}
.social_links {
    margin: 2rem 0;
}
.social_container {
    background-color: var(--color-white);
    width: 20%;
    border-radius: 10px;
    margin: 2.5%;
    box-shadow: 0px 10px 20px var(--color-black);
}
.social_container h4{
    margin: 25px 0;
}
.social_container hr {
    margin: 2rem 0;
}
.about_container {
    background-color: var(--main-color);
    width: 80%;
    border-radius: 10px;
    margin: 2.5%;
    box-shadow: 0px 10px 20px var(--color-black);
    
}
.about_container h2{
    margin: 25px 3%;
    color: var(--color-white);
}
.about_container h3{
    margin: 0 5%;
    text-align: justify;
}
#instagram {
    background-clip: text;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#facebook {
    color: #3b5998;
}
#whatsapp {
    color: #25d366;
}
#gmail {
    color: #ff0000;
}
.ri-close-line {
    float: left;
    color: var(--color-white);
    cursor: pointer;
}
aside {
    display: none;
}
header .home{
    display: none;
}

.pdf_about {
    height: 80vh;
    width: 80%;
}
@media only screen and (max-width: 768px) {
    header .home{
        display: block;
        width: 100%;
    }
    header { 
        background-color: var(--main-color);
        height: 2%;
    }
    header img{
        height: 10%;
        width: 10%;
    }
    .ri-close-line {
        float: left;
        color: var(--color-white);
        cursor: pointer;
    }
    .presentation_flex {
        flex-direction: column;
        padding: 0;
    }
    .demostration {
        margin: 10px 20px;
    }
    .welcome img{
        width: 70%;
        height: 70%;
    }
    .welcome h1 {
        font-size: 1.6rem;
    }
    .welcome h3 {
        font-size: 1.2rem;
    }
    .demostration h2{
        font-size: 1.2rem;
    }
    .carousel {
        max-height: 200px;
    }
    aside {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 44%;
        height: 100%;
        background-color: var(--color-alt-2);
        opacity: 0.9;
        align-items: center;
        z-index: 1;
        padding: .25rem 0;
        text-align: center;
        animation: 1s ease-out 0s 1 slideright;
        animation-fill-mode: forwards;
    }
    aside a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.2rem;
        margin: 10px 0;
    }
    .introduction {
        flex-direction: column; 
    }
    /* .img_introduction, .text_introduction {
        width: 100px;
    } */
    .text_introduction {
        flex-grow: 0;
    }
    .img_introduction {
        padding: 200px 100px;
    }
    .about_container {
        width: 60%;
        overflow-y: scroll;
    }
    .social_container {
        width: 40%;
    }
    .about_container h2{
        font-size: 1.2rem;
    }
    .about_container h3{
        font-size: 1rem;
    }
    .text_introduction {
        font-size: 1rem;
        overflow-y: scroll;
    }
}