@keyframes slideright {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
.carousel {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 10px;
    border-radius: 10px;
}

.carousel-control.next {
    right: 10px;
    border-radius: 10px;
}
.presentation {
    /* background-color: var(--color-gray-10); */
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.presentation_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}
.welcome {
    text-align: center;
    flex-grow: 1;
    margin: 20px;
    background-color: var(--color-gray-10);
}
.welcome h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    background-color: var(--color-alt-2);
    box-shadow: var(--shadow);
    border-radius: 10px;
}
.welcome h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.demostration {
    text-align: center;
    background-color: var(--color-gray-10);
    border-radius: 10px;
    box-shadow: var(--shadow);
    flex-grow: 1;
}
.introduction_container {
    margin: 0;
}
.introduction {
    display: flex;
    min-height: fit-content;
    flex-direction: row;
    text-align: center;
    background-color: var(--color-gray-10);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.img_introduction {
    flex: 1;
    margin: 20px;
    background-image: url(../imgs/fondo\ azul\ y\ rojo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.text_introduction {
    flex: 1;
    margin: 20px;
    background-color: var(--color-gray-10);
    border-radius: 10px;
    box-shadow: var(--shadow);
    height: 100%;
}
.img_introduction, .text_introduction {
    width: calc(100% - 40px);
    border-radius: 10px;
}
.contacts {
    display: flex;
    height: 80vh;
    width: 80%;
    background-color: var(--color-gray-10);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 20px;
    margin: 2% 0;
    text-align: center;
}
.social_container {
    background-color: var(--color-white);
    width: 20%;
    border-radius: 10px;
    margin: 2.5%;
    box-shadow: 0px 10px 20px var(--color-black);
}
.about_container {
    background-color: var(--color-dark-grey);
    width: 80%;
    border-radius: 10px;
    margin: 2.5%;
    box-shadow: 0px 10px 20px var(--color-black);
}
#instagram {
    background-clip: text;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#facebook {
    color: #3b5998;
}
aside {
    display: none;
}
@media only screen and (max-width: 768px) {
    .ri-close-line {
        float: left;
        color: var(--color-white);
        cursor: pointer;
    }
    .presentation_flex {
        flex-direction: column;
        padding: 0;
    }
    .demostration {
        margin: 10px 20px;
    }
    .welcome img{
        width: 70%;
        height: 70%;
    }
    .welcome h1 {
        font-size: 1.8rem;
    }
    .welcome h3 {
        font-size: 1.2rem;
    }
    .carousel {
        max-height: 200px;
    }
    aside {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 44%;
        height: 100%;
        background-color: var(--main-color);
        align-items: center;
        z-index: 1;
        padding: .25rem 0;
        text-align: center;
        animation: 1s ease-out 0s 1 slideright;
        animation-fill-mode: forwards;
    }
    aside a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.2rem;
        margin: 10px 0;
    }
}